html {
    background-image: url('background.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
    width: 360px;
    height: 640px; 
}

#container {
    display: grid; 
    grid-template-columns:  20% 60% 20%;
    grid-template-rows:20% 60% 20%; 
    size: contain;
  
}

#title {
    border-style: solid;
    border-color: red;
    grid-row: 1/ span 1;
    grid-column: 2/span 1;
}

#list {
    border-style: solid;
    border-color: yellow;
    grid-row: 2/ span 1;
    grid-column: 2/span 1;
}

#buttons {
    border-style: solid;
    border-color: orange;
    grid-row: 3/ span 1;
    grid-column: 1/span 3;
} 