html {
    background-image: url('background.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
    width: 360px;
    height: 640px; 
}

#container {
    display: grid; 
    grid-template-columns: 5% 90% 5%; /* 30px 300px 30px ; */
    grid-template-rows: 90px 425px 35px 90px; 
    
}

#title {
    border-style: solid;
    border-color: red;
    grid-row: 1/ span 1;
    grid-column: 2/span 1;

    font-style: bold;
    font-family: "Comic Sans MS" ;
    text-align: center;
    font-size: 60px ;
    color: Black

}

#list {
    border-style: solid;
    border-color: yellow;
    grid-row: 2/ span 1;
    grid-column: 2/span 1;

    
    font-family: "Comic Sans MS" ;
    font-size: 18px ;
    color: Black; 
    
}
#list li {
    list-style: none;
}
text {
    font-size: 30px;
}

#buttons {
    /* display: flex; */
    border-style: solid;
    border-color: orange;
    grid-row: 4/ span 1;
    grid-column: 1/span 3;
    justify-content: space-between;
    text-align: center;
    
} 
#buttons input{
    background-color: black; 
    color: white;
    font-family: "Comic Sans MS" ;
    font-size: 18px ;
    height: 50px;


}
